In [1]:
import pickle
import pandas as pd

with open('my_dataframe_2018data.pickle','rb') as read_file:
    df_target_2018 = pickle.load(read_file)
    
df_target_2018.head(5)

,card_id,city_id,installments,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,...,category_3_C,category_1_N,feature_1_2,feature_1_3,feature_1_4,feature_1_5,feature_2_2,feature_2_3,feature_3_1,target_binned_1
518,C_ID_0e171c1b48,69,0,879,M_ID_00a6ca8a8a,-1,-0.728876,2018-01-05 22:00:55,1.0,9,...,0,1,0,1,0,0,1,0,1,Bad
519,C_ID_0e171c1b48,277,0,703,M_ID_4d6321ce13,-1,-0.662759,2018-01-27 14:21:02,4.0,13,...,0,1,0,1,0,0,1,0,1,Bad
532,C_ID_0e171c1b48,277,0,80,M_ID_ad5e2702ac,0,-0.731881,2018-02-16 21:04:55,4.0,13,...,0,1,0,1,0,0,1,0,1,Bad
533,C_ID_0e171c1b48,277,0,307,M_ID_9c22126564,0,-0.731881,2018-02-20 18:04:02,4.0,13,...,0,1,0,1,0,0,1,0,1,Bad
542,C_ID_0e171c1b48,69,0,879,M_ID_00a6ca8a8a,-1,-0.728876,2018-01-20 11:12:36,1.0,9,...,0,1,0,1,0,0,1,0,1,Bad

In [2]:
%pylab inline

# sets backend to render higher res images
%config InlineBackend.figure_formats = ['retina']

import pandas as pd
import seaborn as sns
import sklearn

sns.set_style("whitegrid")

Populating the interactive namespace from numpy and matplotlib

In [3]:
from sklearn import metrics
from ipywidgets import interact, interactive, HBox, VBox, interactive_output
from IPython.display import display
from ipywidgets import widgets
from ipywidgets import interact
from sklearn import svm
from sklearn import exceptions
from sklearn import metrics
# warnings.filterwarnings("ignore", category=exceptions.ConvergenceWarning)

In [ ]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix

def get_user_split_data(df, test_size=.2, seed=42):

    rs = np.random.RandomState(seed)
    
    total_users = df['card_id'].unique() 
    test_users = rs.choice(total_users, 
                           size=int(total_users.shape[0] * test_size), 
                           replace=False)

    df_tr = df[~df['card_id'].isin(test_users)]
    df_te = df[df['card_id'].isin(test_users)] 

    y_tr, y_te = df_tr['target_binned'], df_te['target_binned']
    X_tr = df_tr[['installments','purchase_amount','category_2','feature_2_2', 'feature_2_3', 'feature_3_1','auth_flag_Y']] 
    X_te = df_te[['installments','purchase_amount','category_2','feature_2_2', 'feature_2_3', 'feature_3_1','auth_flag_Y']]

    return X_tr, X_te, y_tr, y_te

X_tr, X_te, y_tr, y_te = get_user_split_data(df_target_2018)
  
# training a linear SVM classifier 
from sklearn.svm import SVC 
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(X_tr, y_tr) 
svm_predictions = svm_model_linear.predict(X_te) 
  
# model accuracy for X_test   
accuracy = svm_model_linear.score(X_te, y_te) 
print (accuracy) 
# creating a confusion matrix 
cm = confusion_matrix(y_te, svm_predictions)

In [ ]:
accuracy_score(svm_model_linear.predict(X_te), y_te)